<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>abvaxpass</title>
  </head>
  <body>
    <p>cert: <%= certificate %></p>
    <p>firstname: <%= firstname %></p>
    <p>lastname: <%= lastname %></p>
    <p>birthdate: <%= birthdate %></p>
    </form>
  </body>
</html>