<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>abvaxpass</title>
  </head>
  <body>
    <form action="/register" method="post">
      <label for="phn">personal health number:</label>
      <input type="text" name="phn" id="phn" placeholder="xxxxx-xxx">
      <br>
      <label for="birthdate">birth date:</label>
      <input type="text" name="birthdate" id="birthdate" placeholder="YYYY-MM-DD">
      <br>
      <label for="dosemonth">dose month:</label>
      <input type="text" name="dosemonth" id="dosemonth" placeholder="MM">
      <br>
      <label for="doseyear">dose year:</label>
      <input type="text" name="doseyear" id="doseyear" placeholder="YYYY">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
